@model Capstone_Project.Models.Participant

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <h4>Participant</h4>
    <hr />
    <d1 class="row">
        If you’re in crisis, there are options available to help you cope. You can also call the Lifeline at any time to speak to someone and get support. For confidential support available 24/7 for everyone in the United States, call 1-800-273-8255.
    </d1>
</div>
<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Quote</th>
        </tr>
    </thead>
    <tbody id="Quotes">
        <tr class="table-active"></tr>
        
    </tbody>
</table>
@*<script type="text/javascript" src="./site.js"></script>*@
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="CreateEvent">Create a Event</a> |
    <a asp-action="CreatePost">Create a Post</a>
</div>
