
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-top: 50px; margin-right: 38%; margin-left: 38%;">
    You Matter
</h1>
<div style="padding: 20px; background-color: #c2ffe1; border-radius: 10px; filter: drop-shadow(2px 4px 6px black)">
    <div style="  margin: 0auto; padding: 20px; background-color:mintcream">
        <h2 class="You">Help Yourself</h2>
        <d1 class="You">
            If you’re in crisis, there are options available to help you cope. You can also call the Lifeline at any time to speak to someone and get support. For confidential support available 24/7 for everyone in the United States, call 1-800-273-8255.
        </d1>
    </div>
    <div style="margin:0auto;padding:20px;background-color:mintcream">
        <h4>Build A Support Network</h4>
        <d1 class="Support">
            You don't have to deal with crisis on your own. Those you choose to confide in can provide encouragement and help you through a crisis
        </d1>
    </div>
    <div style="margin:0auto;padding:20px;background-color:mintcream">
        <h5>Your World</h5>
        <d1>
            You are part of a larger whole, and you matter. You may feel less isolated when you’re connected more to others. Consider joining an interest group, volunteering, taking a class, or starting a new hobby.
        </d1>
    </div>
    <div style="margin:0auto;padding:20px;background-color:mintcream">
        <h5>Your Social NetWorks</h5>
        <d1>
            Social media is a place to share how you’re feeling and hear the stories of others who have felt the same. Connecting to people through technology may help you remember that you are not alone, and you may find others with similar interests.
        </d1>
    </div>
    <div style="margin:0auto;padding:20px;background-color:mintcream">
        <h5>Your Community</h5>
        <d1>
            Whether your community is at work, school, church, or a club or a team, having a group of people who encourage help-seeking and support  is one of the most important aspects of suicide prevention.
        </d1>
    </div>
    <div style="margin:0auto;padding:20px;background-color:mintcream">
        <h5>Your Circle Of Trust</h5>
        <d1>
            Relationships with friends, family, and significant others built on trust and companionship are a protective factor against suicidal thoughts and behaviors. It’s important to find the people in your life that you can always confide in, feel comfortable around, and can contact at any time. Surround yourself with positive people who motivate you to be your best.
        </d1>
    </div>
    <div style="margin:0auto;padding:20px;background-color:mintcream">
        <h3>Self-Care During The Holidays</h3>
        <ul>
            <li>Take a walk outside</li>
            <li>Write a love letter to yourself</li>
            <li>Write about something you are grateful for in your life</li>
            <li>Create a happy playlist and a coping playlist</li>
            <li>Treat yourself to a favorite snack</li>
            <li>Watch your favorite movie</li>
            <li>Forgive someone</li>
            <li>Say thank you to someone who has helped you recently</li>
            <li>Create a DIY self-care kit of things that make you fell better</li>
            <li>Take your medication on time</li>
            <li>Take a new fitness class</li>
            <li>Plan a lunch date with someone you havent seen in a while</li>
            <li>Pamper yourself with an at-home spa day</li>
            <li>Take a day off from social media and the internet</li>
            <li>Reach out to your support system</li>
            <li>Cuddle with your pets or a friend's pet</li>
            <li>Take the time to stop, stand and stetch for 2 minutes</li>
            <li>Wake up a little earlier and enjoy a morning cup of tea or coffee before the morning rush</li>
            <li>Take a hot shower or bath</li>
            <li>Take yourself out to dinner</li>
            <li>Volunteer</li>
            <li>Start that one project you've been contemplating for a while</li>
            <li>Sit with your emotions, and allow yourself to feel and accept them. it's okay to laugh cry, just feel whatever you're feeling with no apologies</li>
            <li>Cook a favorite meal from scratch</li>
            <li>Take a 5-minute break in your day</li>
            <li>Compliment someone (and yourself, too!)</li>
            <li>Give yourself permission to say no</li>
            <li>De-clutter your mind:write down 5 things that are bothering you, and then literally throw them away</li>
            <li>Donate 3 pieces of clothing that you no longer wear</li>
            <li>Take the time to find 5 beautiful things during your daily routine</li>
            <li>Take a mental health day from school, work, ect.</li>
            <li>Take a nap</li>
            <li>Reach out to the Lifeline</li>
        </ul>
        <a href="https://suicidepreventionlifeline.org/help-yourself/" target="_blank">Visit the Suicide Lifeline</a> |
        <a href="https://www.betterhelp.com/helpme/?utm_source=AdWords&utm_medium=Search_PPC_c&utm_term=%2Btherapist+%2Bonline_b&utm_content=24719031130&network=g&placement=&target=&matchtype=b&utm_campaign=384672130&ad_type=text&adposition=&gclid=CjwKCAiA8Jf-BRB-EiwAWDtEGsG-OZn3kPjxxYlMhpg1gO7dWD4p7Bgx4S9ANN6EOz-zpoS-3zEqkxoCim4QAvD_BwE&not_found=1&gor=helpme" target="_blank">Visit betterhelp.com</a> |
        <a href="https://findtreatment.samhsa.gov/" target="_blank">Visit findtreatment.com</a> |
        <a href="https://www.psychologytoday.com/us/therapists" target="_blank">Visit Phychology Today</a>
    </div>
</div>
<div style="padding: 20px; background-color: #c2ffe1; border-radius: 10px; filter: drop-shadow(2px 4px 6px black); margin: 40px;">
    <table style="margin: 0;" class="table table-light">
        <thead style="padding: 20px; background-color: mintcream; border-radius: 10px;">
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Quote</th>
            </tr>
        </thead>
        <tbody id="Quotes" style="padding: 20px; background-color: mintcream; border-radius: 10px;">
            <tr class="table-active"></tr>

        </tbody>
    </table>
</div>
